.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{width: 100%; display: inline-block; }
.left_img{width:50%; float: left;background: #eff5e7; text-align: center; height: 100vh; position: relative;}
.left_img img{width: 100%; max-width: 50%; position: absolute; left: 0; right: 0; margin: 0 auto; top: 0; bottom: 0; margin: auto;}  
.right_form{width:50%; float: left; text-align: center;  padding: 150px 0; height: 100vh; position: relative;}
.floating-label {position:relative; margin-bottom:40px; }
.floating-input , .floating-select {font-size:14px; padding:4px 4px; display:block; width:100%; height:30px; background-color: transparent; border:none; border-bottom:1px solid #b2b2b2; }
.floating-input:focus , .floating-select:focus {outline:none; border-bottom:2px solid #5264AE; }
label {color:#999; font-size:14px; font-weight:600; position:absolute; pointer-events:none; left:5px; top:5px; transition:0.2s ease all; -moz-transition:0.2s ease all; -webkit-transition:0.2s ease all; }
.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {top:-18px; font-size:14px; color:#5264AE; }
.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {top:-18px; font-size:14px; color:#5264AE; }
/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {width:50%; }
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.floating-textarea {min-height: 30px; max-height: 260px; overflow:hidden; overflow-x: hidden; }
/* highlighter */
.highlight {position:absolute; height:50%; width:100%; top:15%; left:0; pointer-events:none; opacity:0.5; }
/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {-webkit-animation:inputHighlighter 0.3s ease; -moz-animation:inputHighlighter 0.3s ease; animation:inputHighlighter 0.3s ease; }
/* animation */
@-webkit-keyframes inputHighlighter {from { background:#5264AE; } to  { width:0; background:transparent; } }
@-moz-keyframes inputHighlighter {from { background:#5264AE; } to  { width:0; background:transparent; } } 
@keyframes inputHighlighter {from { background:#5264AE; } to  { width:0; background:transparent; } }
form.floating-form {width: 50%; margin: 50px auto; }
.right_form h2 {text-transform: uppercase; font-size: 30px; color: #000; font-weight: normal; margin: 0; padding: 0; }
.right_form h2 span {color: #5ea01d; font-weight: 700;}
.right_form h3{font-size:16px; font-weight:normal; color:#b2b2b2;}
.right_side{left: 0; right: 0; margin: 0 auto; top: 0; bottom: 0; margin: auto;} 
.right_side button {background: #5ea01d; border: 1px solid #5ea01d; color: #FFF; font-size: 18px; padding: 14px 90px; border-radius: 50px;
}


@media(max-width: 767px){
.left_img{width: 100%;height: 30vh;}
.right_form{width: 100%;padding: 50px 0;}
form.floating-form {width: 90%; margin: 60px auto; }
  
}